# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
employees=pd.read_csv(r'C:\Users\lenovo\Desktop\ironhack\Labs\DAFT_212\module_2\Lab_7_Hypothesis-Testing\Employees_advanced.csv')

In [3]:
employees

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:
employees['Annual Salary'].head(25)

0     101442.0
1      94122.0
2     101592.0
3     110064.0
4          NaN
5      50436.0
6          NaN
7          NaN
8     103350.0
9      93354.0
10         NaN
11     84054.0
12     87006.0
13    102228.0
14     84054.0
15     91272.0
16    111492.0
17     95484.0
18         NaN
19         NaN
20     65448.0
21         NaN
22     90024.0
23     82614.0
24         NaN
Name: Annual Salary, dtype: float64

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:
columns=['Name', 'Job Titles', 'Department', 'Full or Part-Time','Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate']

for column in columns:
    print(column, employees[column].isna().sum())

Name 0
Job Titles 0
Department 0
Full or Part-Time 0
Salary or Hourly 0
Typical Hours 25161
Annual Salary 8022
Hourly Rate 25161

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
# Your code here:
employees['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
# Your code here:
pd.crosstab(employees.Department,employees['Full or Part-Time'],margins=True)

Full or Part-Time          F     P    All
Department
ADMIN HEARNG              39     0     39
ANIMAL CONTRL             62    19     81
AVIATION                1611    18   1629
BOARD OF ELECTION        107     0    107
BOARD OF ETHICS            8     0      8
BUDGET & MGMT             46     0     46
BUILDINGS                269     0    269
BUSINESS AFFAIRS         164     7    171
CITY CLERK                84     0     84
CITY COUNCIL             360    51    411
COMMUNITY DEVELOPMENT    204     3    207
COPA                     116     0    116
CULTURAL AFFAIRS          65     0     65
DISABILITIES              28     0     28
DoIT                      99     0     99
FAMILY & SUPPORT         329   286    615
FINANCE                  558     2    560
FIRE                    4641     0   4641
GENERAL SERVICES         980     0    980
HEALTH                   488     0    488
HUMAN RELATIONS           16     0     16
HUMAN RESOURCES           75     4     79
INSPECTOR GEN             87     0     87
LAW                      406     1    407
LICENSE APPL COMM          1     0      1
MAYOR'S OFFICE            84     1     85
OEMC                     873  1229   2102
POLICE                 13404    10  13414
POLICE BOARD               2     0      2
PROCUREMENT               92     0     92
PUBLIC LIBRARY           727   288   1015
STREETS & SAN           2024   174   2198
TRANSPORTN              1140     0   1140
TREASURER                 22     0     22
WATER MGMNT             1879     0   1879
All                    31090  2093  33183

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
# Your code here:
hourly_emps=employees.loc[employees['Salary or Hourly']=='Hourly']

In [9]:
hourly_emps.drop(columns='Annual Salary',inplace=True)

C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [10]:
hourly_emps

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,17.68
...,...,...,...,...,...,...,...
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,48.85

In [13]:
data=hourly_emps['Hourly Rate']
import scipy.stats as st
st.t.interval(alpha=0.95, df=8022-1, loc=np.mean(data), scale=st.sem(data))

(32.52345834488529, 33.05365708767727)

In [26]:
h=30
n=8022
m=np.mean(data)
sdev=np.std(data)
t=-st.t.ppf(0.025, 8021)

In [27]:
st.t.ppf(0.025, 8021)

-1.960259785956168

In [28]:
m+t*sdev/(np.sqrt(n))

33.05364056389059

In [15]:
"""I reject the hypothesis"""

'I reject the hypothesis'

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [32]:
# Your code here:

police=employees.loc[employees['Department']=='POLICE' & employees['Salary or Hourly']!='Hourly']

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
# Your code here:

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
# Your code here:

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: