In [1]:
import pandas as pd
import numpy as np

In [3]:
dic={
"TransactionID":[1,2,3,4,5],
"ClientID":[231,765,453,231,892],
"Profession":["self-employed","students","horeca","self-employed","finance"],
"Bank_dep":[9,5,7,9,3],
"Risk":["high","high","medium","high","low"],
"Number_of_credits":[2,3,5,2,3],
"Revenue":[30200,12700,89400,30200,74000]
    }

In [4]:
df=pd.DataFrame(dic)

In [5]:
df

,TransactionID,ClientID,Profession,Bank_dep,Risk,Number_of_credits,Revenue
0,1,231,self-employed,9,high,2,30200
1,2,765,students,5,high,3,12700
2,3,453,horeca,7,medium,5,89400
3,4,231,self-employed,9,high,2,30200
4,5,892,finance,3,low,3,74000

In [6]:
"""
- Dummy Encoder
- Label Encoder
- Backward Difference Coding
- BaseN
- Binary
- CatBoost Encoder
- Count Encoder
- Generalized Linear Mixed Model Encoder
- Hashing
- Helmert Coding
- James-Stein Encoder
- Leave One Out
- M-estimate
- One Hot
- Ordinal
- Polynomial Coding
- Sum Coding
- Target Encoder
- Weight of Evidence
- Wrappers
- Quantile Encoder
- Summary Encoder
"""

'\n- Dummy Encoder\n- Label Encoder\n- Backward Difference Coding\n- BaseN\n- Binary\n- CatBoost Encoder\n- Count Encoder\n- Generalized Linear Mixed Model Encoder\n- Hashing\n- Helmert Coding\n- James-Stein Encoder\n- Leave One Out\n- M-estimate\n- One Hot\n- Ordinal\n- Polynomial Coding\n- Sum Coding\n- Target Encoder\n- Weight of Evidence\n- Wrappers\n- Quantile Encoder\n- Summary Encoder\n'

In [7]:
#dummy encoder

pd.get_dummies(df,"Profession","Risk")

,TransactionID,ClientID,Bank_dep,Number_of_credits,Revenue,ProfessionRiskfinance,ProfessionRiskhoreca,ProfessionRiskself-employed,ProfessionRiskstudents,ProfessionRiskhigh,ProfessionRisklow,ProfessionRiskmedium
0,1,231,9,2,30200,0,0,1,0,1,0,0
1,2,765,5,3,12700,0,0,0,1,1,0,0
2,3,453,7,5,89400,0,1,0,0,0,0,1
3,4,231,9,2,30200,0,0,1,0,1,0,0
4,5,892,3,3,74000,1,0,0,0,0,1,0

In [8]:
#one hot encoding

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [9]:
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])],remainder='passthrough')

In [31]:
X=df.iloc[:,2:5:2]

In [32]:
X

      Profession    Risk
0  self-employed    high
1       students    high
2         horeca  medium
3  self-employed    high
4        finance     low

In [33]:
X=np.array(ct.fit_transform(X))

In [34]:
X

array([[0.0, 0.0, 1.0, 0.0, 'high'],
       [0.0, 0.0, 0.0, 1.0, 'high'],
       [0.0, 1.0, 0.0, 0.0, 'medium'],
       [0.0, 0.0, 1.0, 0.0, 'high'],
       [1.0, 0.0, 0.0, 0.0, 'low']], dtype=object)